@import "tailwindcss";
@import "./tokens.css";

:root[data-contrast='black'] {
  --color-on-primary: #000
}

:root[data-theme='dark'] {
  /* Body */
  --color-body: #1e1e1e;

  /* Text */
  --color-default: #fff;
  --color-inverse: #000;

  /* Surface */
  --color-surface-base: #1e1e1e;
  --color-surface-raised: #252526;
  --color-surface-overlay: #2d2d30;
  --color-surface-inverse: #fff;

  /* Content */
  --color-content-high: #f8f7f7;
  --color-content-medium: #c2bfbc;
  --color-content-low: #85807a;
  --color-content-minimal: #5d5955;
  --color-content-inverse: #353231;
}

@theme {
  /* Animações customizadas */
  --animate-opacity: opacity 1s ease-in-out;
  --animate-progress: progress 1s infinite linear;

  /* Transform origin customizado */
  --transform-origin-left-right: 0% 50%;

  /* Keyframes */
  @keyframes opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }

    40% {
      transform: translateX(0) scaleX(0.4);
    }

    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

@layer utilities {
  .origin-left-right {
    transform-origin: var(--transform-origin-left-right);
  }
}
