/* Imported ONLY by native (Uniwind) global.css — never by default.css. */
@layer theme {
    :root {
        @variant light {
            /* Body */
            --color-body: #f8f7f7;

            /* Text */
            --color-default: #000;
            --color-inverse: #fff;

            /* Surface */
            --color-surface-base: #f8f7f7;
            --color-surface-raised: #fbfbfb;
            --color-surface-overlay: #ffffff;
            --color-surface-inverse: #000;

            /* Content */
            --color-content-high: #353231;
            --color-content-medium: #5d5955;
            --color-content-low: #85807a;
            --color-content-minimal: #c2bfbc;
            --color-content-inverse: #ffffff;
        }

        @variant dark {
            /* Body */
            --color-body: #1e1e1e;

            /* Text */
            --color-default: #fff;
            --color-inverse: #000;

            /* Surface */
            --color-surface-base: #1e1e1e;
            --color-surface-raised: #252526;
            --color-surface-overlay: #2d2d30;
            --color-surface-inverse: #fff;

            /* Content */
            --color-content-high: #f8f7f7;
            --color-content-medium: #c2bfbc;
            --color-content-low: #85807a;
            --color-content-minimal: #5d5955;
            --color-content-inverse: #353231;
        }
    }
}
