name: publish manual

on: workflow_dispatch

jobs:
  lerna:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: setup pnpm
        with:
          version: 9.11.0
          run_install: false

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
          scope: "@tecsinapse"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: install and prepare
        run: pnpm i

      - name: run test suites
        run: pnpm test

      - name: version and publish
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

          if [ "${{ github.ref_name }}" = "master" ]; then
            npx --yes lerna version --no-private --ignore-scripts --exact --conventional-commits --conventional-graduate --create-release github --sync-workspace-lock --yes
            npx --yes lerna publish from-git --ignore-scripts --yes
          else
            npx --yes lerna version --no-private --ignore-scripts --exact --conventional-commits --conventional-prerelease --preid beta --create-release github --sync-workspace-lock --yes
            npx --yes lerna publish from-git --ignore-scripts --dist-tag beta --yes
          fi
